body {
}

.items {
    padding: 5px 0 0 20px;
    vertical-align: middle;
    font-size: 22px;
    line-height: 45px;
}

.ImageShow {
    height: 100px;
    float: right;
    width: 100px;
    margin: 10px;
}

    .ImageShow img {
        float: right;
    }

.imageView {
    background: #ccc;
    opacity: 1;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
}

    .imageView img {
        max-width: 94%;
        max-height: 94%;
        margin: 3%;
    }

.items a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.right-panel .vertical-news-container {
    cursor: pointer;
}

.setting {
    margin: 10px 0 0 20px;
}

#article-list {
    overflow: hidden;
}

html {
    overflow: hidden !important;
}
